<!DOCTYPE html>
<html>
    <head>
            <link rel = "stylesheet" href = "/css/styles.css" > 
            <link rel = "icon" href= "/images/weather.png" >
            <!-- moving script at bottom -->
            <title>Weather-home page</title>
    </head>

    <body>
        <div class="main-content">
             {{>header}}
          <p style = "color:red"> Home page: Get your Weather from here !</p>
        <form>
          <input placeholder="Enter Location..">
          <button>search</button>
        </form>
      <p id = "msg1"></p>
      <p id = "msg2"></p>

        </div>
               
        {{>footer}}
         <script src = "/js/app.js"></script>
    </body>


</html>